<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53a2670d-9e75-44a0-b845-4c17fb61ae88" Alias="Page Title - Textbox" Level="1">
  <Info>
    <Name>Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>