<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d398e01-526e-4adc-bf2a-5d269b20967d" Alias="aboutUs" Level="1">
  <Info>
    <Name>About Us</Name>
    <Icon>icon-document-dashed-line color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>AboutUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9471de93-c557-46c0-bc59-471d4e2a3534">AboutUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>17097556-cf72-4d0c-b1fb-f7a07252d7c1</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>b64605f6-9d7e-4c58-a4ec-8ca8f12a0a37</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92a0db27-06fe-4c64-b6af-f94b37e2036f</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>53a2670d-9e75-44a0-b845-4c17fb61ae88</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bf828593-3e4d-4e21-9403-2b2315218015</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>