<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1801feb7-ef40-4a90-8e5a-9acf3832cb8d" Alias="generalPage" Level="1">
  <Info>
    <Name>General Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>GeneralPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="30e2fd62-d19b-470b-867b-cab95e7348fe">GeneralPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88cbfcd0-48c4-432a-a55e-f24a406e1d47</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>53a2670d-9e75-44a0-b845-4c17fb61ae88</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6045384d-0d6a-4e1b-9836-c08b140dae3d</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>