<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba451f28-364c-4a9b-8fa8-3200ed461807" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="42dcc203-b3d4-4c8d-b731-d9d262204311">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="68ea914b-41dd-432f-8e9b-668d16b2eff4" SortOrder="0">errorPage</ContentType>
    <ContentType Key="2c4d0523-8165-49db-83ed-fa6860f5dccf" SortOrder="1">register</ContentType>
    <ContentType Key="ecc37d09-7af7-4c05-a26c-29806bf6ee88" SortOrder="2">blog</ContentType>
    <ContentType Key="451fc562-f604-4713-8baa-3ee9d23a6a88" SortOrder="3">login</ContentType>
    <ContentType Key="7d398e01-526e-4adc-bf2a-5d269b20967d" SortOrder="4">aboutUs</ContentType>
    <ContentType Key="1801feb7-ef40-4a90-8e5a-9acf3832cb8d" SortOrder="5">generalPage</ContentType>
    <ContentType Key="f3c1309c-d508-42ba-9c1d-d29cb062ae0b" SortOrder="6">loginAPI</ContentType>
    <ContentType Key="b587a80b-39ea-4342-a9db-d9990148745e" SortOrder="7">registerAPI</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>