<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3c1309c-d508-42ba-9c1d-d29cb062ae0b" Alias="loginAPI" Level="2">
  <Info>
    <Name>Login API</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>MemberShip</Folder>
    <Compositions />
    <DefaultTemplate>LoginAPI</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="65ace629-2aaf-4d69-8833-6b09b3fb6e1e">LoginAPI</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bb9c920f-30d0-4d0b-8a05-2065a73b86fc</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>53a2670d-9e75-44a0-b845-4c17fb61ae88</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e96470d4-c4f5-4c0e-aba9-b9d37830ea3e</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>