@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<h2>@Model.PageTitle</h2>
<hr />
<div class="row text-center justify-content-between">
    <div class="col-md-4 p-2">
        <div class=" card p-3">
            @*<h4>@Umbraco.GetDictionaryValue("Mission")</h4>*@
            <p>@Model.Description</p>
        </div>
    </div>

</div>