@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo</title>
   @* <link rel="shortcut icon" href="~/assets/logo0.ico" />*@

    @* Styling Sheets *@
    <link rel="stylesheet" href="/Lib/bootstrap/css/bootstrap.min.css" />
    @if (Model.GetCultureFromDomains() == "ar-EG")
    {
        <link rel="stylesheet" href="/css/SiteAR.css" />
    }

    <link rel="stylesheet" href="/css/site.css" />


</head>


<body>


<!--Navigation -->
@await Html.PartialAsync("Shared/Navigation")
<!--Navigation -->

<!-- Body -->
<div class="container my-3">
@RenderBody()
</div>
<!-- Body -->
 <!-- Scripts -->

    <!-- Bootstrap Script -->
    <script src="/Lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
