<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb4e8df3-96d1-4531-99dc-c864194302a6" Alias="Blog Page" Level="2">
  <Info>
    <Parent Key="b2ed4d59-0661-484e-bdb6-51055a9a2237">Home</Parent>
    <Path>/Home/BlogPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-05-14T15:29:03</CreateDate>
    <NodeName Default="Blog Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09ea8ee5-4353-4038-8200-391c71611b55">Blog</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Blog]]></Value>
    </pageTitle>
  </Properties>
</Content>