<?xml version="1.0" encoding="utf-8"?>
<Content Key="85151dcc-53a7-42d6-9652-3efad3c346c2" Alias="Error Page" Level="2">
  <Info>
    <Parent Key="b2ed4d59-0661-484e-bdb6-51055a9a2237">Home</Parent>
    <Path>/Home/ErrorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2023-05-14T14:52:29</CreateDate>
    <NodeName Default="Error Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7f95032-1d53-4fb4-bd4d-21530784a1b6">ErrorPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[404]]></Value>
    </pageTitle>
  </Properties>
</Content>