<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab12d513-dd00-4ded-b29b-ad03ca111fd7" Alias="Login API" Level="2">
  <Info>
    <Parent Key="b2ed4d59-0661-484e-bdb6-51055a9a2237">Home</Parent>
    <Path>/Home/LoginAPI</Path>
    <Trashed>false</Trashed>
    <ContentType>loginAPI</ContentType>
    <CreateDate>2023-05-15T13:48:13</CreateDate>
    <NodeName Default="Login API" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65ace629-2aaf-4d69-8833-6b09b3fb6e1e">LoginAPI</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Login]]></Value>
    </pageTitle>
  </Properties>
</Content>