<?xml version="1.0" encoding="utf-8"?>
<Content Key="7616d63e-2501-41c3-ba0b-2022b990f6f2" Alias="Login" Level="2">
  <Info>
    <Parent Key="b2ed4d59-0661-484e-bdb6-51055a9a2237">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2023-05-15T11:24:09</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="34d67308-8021-4510-948d-ab37b033e4aa">Login</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Login]]></Value>
    </pageTitle>
  </Properties>
</Content>