<?xml version="1.0" encoding="utf-8"?>
<Content Key="344c92b3-7ef2-49c3-950f-09363e7f8d93" Alias="Page" Level="2">
  <Info>
    <Parent Key="b2ed4d59-0661-484e-bdb6-51055a9a2237">Home</Parent>
    <Path>/Home/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2023-05-15T11:49:05</CreateDate>
    <NodeName Default="Page" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30e2fd62-d19b-470b-867b-cab95e7348fe">GeneralPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[PAge]]></Value>
    </pageTitle>
  </Properties>
</Content>