<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c7e98c3-dcc0-491d-94e6-223b5a4218ea" Alias="Register API" Level="2">
  <Info>
    <Parent Key="b2ed4d59-0661-484e-bdb6-51055a9a2237">Home</Parent>
    <Path>/Home/RegisterAPI</Path>
    <Trashed>false</Trashed>
    <ContentType>registerAPI</ContentType>
    <CreateDate>2023-05-15T13:48:51</CreateDate>
    <NodeName Default="Register API" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9a64024a-f7e8-4874-91c0-33403f990c6f">RegisterAPI</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Register]]></Value>
    </pageTitle>
  </Properties>
</Content>