<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0547d80-a327-4821-9bae-ed2b913456e6" Alias="Register" Level="2">
  <Info>
    <Parent Key="b2ed4d59-0661-484e-bdb6-51055a9a2237">Home</Parent>
    <Path>/Home/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>register</ContentType>
    <CreateDate>2023-05-14T14:53:00</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="116f3e4e-8925-47e3-b05e-7815ee821e25">Register</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <pageTitle>
      <Value><![CDATA[Register ]]></Value>
    </pageTitle>
  </Properties>
</Content>